<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->



  <div id="selectEmail" class="form_section">
      <p>
        <%= gettext('Sign in as...') %>
      </p>

      <ul class="inputs" id="emailList">
          <% if (showOnlyOriginEmail && originEmail) { %>
            <li>
                <label for="email_0" class="email_address preselected selectable" title="<%= originEmail %>" >
                  <input type="radio" name="email" id="email_0" value="<%= originEmail %>" checked="checked" />
                  <%= originEmail %>
                </label>
            </li>
          <% } else { %>
            <% _.each(identities, function(item, index) { var emailAddress = item.address, id = "email_" + index; %>
                <li>
                    <label for="<%= id %>" class="email_address <% if (emailAddress === originEmail) { %> preselected<% } %> selectable" title="<%= emailAddress %>" >
                      <input type="radio" name="email" id="<%= id %>" value="<%= emailAddress %>"
                          <% if (emailAddress === originEmail || identities.length === 1) { %> checked="checked" <% } %>
                        />
                      <%= emailAddress %>
                    </label>
                </li>
            <% }); %>
          <% } %>
      </ul>

      <div id="must_choose_email" class="tooltip" for="emailList">
        <%= gettext('Please choose an email address.') %>
      </div>

      <% if (showOnlyOriginEmail && originEmail) { %>
        <a id="useAnotherEmail" class="emphasize" href="#"><%= gettext('Use another email address') %></a>
      <% } else { %>
        <a id="useNewEmail" class="emphasize" href="#"><%= gettext('Add another email address') %></a>
      <% } %>
      <a id="thisIsNotMe" class="emphasize" href="#"><%= gettext('This is not me') %></a>


      <p class="submit add cf">
        <button id="signInButton"><%= gettext('sign in') %></button>
      </p>
  </div>
